<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>admin registration</title>
  </head>
  <body>


<div class="container " style="margin-top:50px;max-width: 600px;margin-left:420px; border: solid;">
            <div class="card bg-dark" style="width: 550px;margin:10px;padding-top:10px ;padding-left:10px ">
              <h5 class="card-title" style="color: white ;text-align: center;">Admin Register</h5>
              <table class="table table-light">

                 <tbody>
                          <tr>
                             <td>First name :</td>
                             <td><input type="text" class="" id="staticEmail2" value="" placeholder="enter first name"></td>
                          </tr>
                          <tr>
                             <td>Last name :</td>
                             <td><input type="Password" class="" id="staticEmail2" value="" placeholder="enter second name"></td>
                          </tr>
                           <tr>
                             <td>Email :</td>
                             <td><input type="email" class="" id="staticEmail2" value="" placeholder="enter email"></td>
                          </tr>

                           <tr>
                             <td>Registaion No. :</td>
                             <td><input type="text" class="" id="staticEmail2" value="" placeholder="enter registraion no."></td>
                          </tr>



                          <tr>
                             <td>Phone :</td>
                             <td><input type="text" class="" id="staticEmail2" value="" placeholder="enter mobile no."></td>
                          </tr>

                              <tr>
                             <td>Password :</td>
                             <td><input type="Password"   value="" placeholder="enter your password"></td>
                          </tr>

                           <tr>
                             <td>Confirm Password :</td>
                             <td><input type="Password" class="" id="staticEmail2" value="" placeholder="confirm your password"></td>
                          </tr>

                    </tbody>
              </table>
           </div>
            <div class="card-body" style="width: 600px;padding-top:10px ;padding-left:10px ">

            <p class="card-text" >Forget PassWord  <a href="/home" class=" ">Forget ?</a> </p>
            <a href="/adminlogin" class="btn btn-outline-dark  btn-md">Register</a>
           </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>