

<!--admin  DASHBORD   notificaton-->

{%extends 'admindashbord.html'%}
{%block title%}

{%endblock title%}

{%block body%}


<div class="container " style="margin-top:50px;max-width: 90%;max-height: 800px;margin-left:120px; border: solid;">
            <div class="card bg-dark" style="width: 98%;margin:10px;padding-top:10px ;padding-left:10px ">
              <h5 class="card-title" style="color: white ;text-align: center;">Student's List</h5>
              <table class="table table-light">

                 <tbody>

                          <tr>
                             <td></td>

                          </tr>
                           <tr>
                             <td> </td>

                          </tr>

                           <tr>
                             <td></td>

                          </tr>



                          <tr>
                             <td></td>
                             <td></td>
                          </tr>

                    </tbody>
              </table>
           </div>

</div>



{%endblock body%}


