{%extends 'base1.html'%}
{%block title%}

{%endblock title%}

{%block body%}

<div class="container " style="margin-top:200px;max-width: 600px;margin-left:420px; border: solid;">
            <div class="card bg-dark" style="width: 100px;padding-top:10px ;padding-left:10px ">
              <h5 class="card-title" style="color: white">Your End-Sem Totle</h5>

           </div>
            <div class="card-body" style="width: 600px;padding-top:10px ;padding-left:10px ">

            <p class="card-text" >Here is Amout You Have To add Bro </p>
            <a href="/home" class="btn btn-outline-dark  btn-md">Done</a>
           </div>
</div>


{%endblock body%}


